.dark-mode{
  margin: auto;
  padding: 20px;
  background-color: #242424;
  border: 1px solid #f9f9f9;
  border-radius: 10px;
  color: #f9f9f9;
}
.light-mode{
  background-color: #f9f9f9;
  border: 1px solid #242424;
  border-radius: 10px;
  color: #242424;
  padding: 20px;
}
.dark-button{
  background-color: #535bf2;
  color: #f9f9f9;
  border: #f9f9f9;
}
.light-button{
  background-color: #213547;
  color: #f9f9f9;
  border: #242424;
}
.dark-input{
  background-color: #213547;
  border: 1px solid #f9f9f9;
}
.light-input{
  background-color: #f9f9f9;
  border: 1px solid #f9f9f9;
}